.neo-primary:hover {
  background: linear-gradient(145deg, #f0f0f0, primary);
}

.neo-primary:active, .neo-primary.active {
  background: linear-gradient(145deg, primary, #f0f0f0);
}

.neo-red:hover {
  background: linear-gradient(145deg, #f0f0f0, red);
}

.neo-red:active, .neo-red.active {
  background: linear-gradient(145deg, red, #f0f0f0);
}

.neo-orange:hover {
  background: linear-gradient(145deg, #f0f0f0, orange);
}

.neo-orange:active, .neo-orange.active {
  background: linear-gradient(145deg, orange, #f0f0f0);
}

.neo {
  box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px #D1CDC7;
}

.neo.neo-btn:hover {
  background: linear-gradient(145deg, #f0f0f0, #9fbaf3);
}

.neo.neo-btn:active, .neo.neo-btn.active {
  background: linear-gradient(145deg, #9fbaf3, #f0f0f0);
}

.neo.neo-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100px;
  width: 100px;
  word-wrap: break-word;
  background-clip: border-box;
}
