.neo-primary:hover {
  background: linear-gradient(145deg, #f0f0f0, primary);
}

.neo-primary:active, .neo-primary.active {
  background: linear-gradient(145deg, primary, #f0f0f0);
}

.neo-red:hover {
  background: linear-gradient(145deg, #f0f0f0, red);
}

.neo-red:active, .neo-red.active {
  background: linear-gradient(145deg, red, #f0f0f0);
}

.neo-orange:hover {
  background: linear-gradient(145deg, #f0f0f0, orange);
}

.neo-orange:active, .neo-orange.active {
  background: linear-gradient(145deg, orange, #f0f0f0);
}

.neo {
  box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px #D1CDC7;
}

.neo.neo-btn:hover {
  background: linear-gradient(145deg, #f0f0f0, #9fbaf3);
}

.neo.neo-btn:active, .neo.neo-btn.active {
  background: linear-gradient(145deg, #9fbaf3, #f0f0f0);
}

.neo.neo-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100px;
  width: 100px;
  word-wrap: break-word;
  background-clip: border-box;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.w-10 {
  width: 10%;
}

.vw-10 {
  width: 10vw;
}

.w-15 {
  width: 15%;
}

.vw-15 {
  width: 15vw;
}

.w-20 {
  width: 20%;
}

.vw-20 {
  width: 20vw;
}

.w-25 {
  width: 25%;
}

.vw-25 {
  width: 25vw;
}

.w-30 {
  width: 30%;
}

.vw-30 {
  width: 30vw;
}

.w-35 {
  width: 35%;
}

.vw-35 {
  width: 35vw;
}

.w-40 {
  width: 40%;
}

.vw-40 {
  width: 40vw;
}

.w-45 {
  width: 45%;
}

.vw-45 {
  width: 45vw;
}

.w-50 {
  width: 50%;
}

.vw-50 {
  width: 50vw;
}

.w-60 {
  width: 60%;
}

.vw-60 {
  width: 60vw;
}

.w-65 {
  width: 65%;
}

.vw-65 {
  width: 65vw;
}

.w-70 {
  width: 70%;
}

.vw-70 {
  width: 70vw;
}

.w-75 {
  width: 75%;
}

.vw-75 {
  width: 75vw;
}

.w-80 {
  width: 80%;
}

.vw-80 {
  width: 80vw;
}

.w-85 {
  width: 85%;
}

.vw-85 {
  width: 85vw;
}

.w-90 {
  width: 90%;
}

.vw-90 {
  width: 90vw;
}

.w-95 {
  width: 95%;
}

.vw-95 {
  width: 95vw;
}

.w-100 {
  width: 100%;
}

.vw-100 {
  width: 100vw;
}

.h-10 {
  height: 10%;
}

.vh-10 {
  height: 10vh;
}

.h-15 {
  height: 15%;
}

.vh-15 {
  height: 15vh;
}

.h-20 {
  height: 20%;
}

.vh-20 {
  height: 20vh;
}

.h-25 {
  height: 25%;
}

.vh-25 {
  height: 25vh;
}

.h-30 {
  height: 30%;
}

.vh-30 {
  height: 30vh;
}

.h-35 {
  height: 35%;
}

.vh-35 {
  height: 35vh;
}

.h-40 {
  height: 40%;
}

.vh-40 {
  height: 40vh;
}

.h-45 {
  height: 45%;
}

.vh-45 {
  height: 45vh;
}

.h-50 {
  height: 50%;
}

.vh-50 {
  height: 50vh;
}

.h-60 {
  height: 60%;
}

.vh-60 {
  height: 60vh;
}

.h-65 {
  height: 65%;
}

.vh-65 {
  height: 65vh;
}

.h-70 {
  height: 70%;
}

.vh-70 {
  height: 70vh;
}

.h-75 {
  height: 75%;
}

.vh-75 {
  height: 75vh;
}

.h-80 {
  height: 80%;
}

.vh-80 {
  height: 80vh;
}

.h-85 {
  height: 85%;
}

.vh-85 {
  height: 85vh;
}

.h-90 {
  height: 90%;
}

.vh-90 {
  height: 90vh;
}

.h-95 {
  height: 95%;
}

.vh-95 {
  height: 95vh;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.m-1 {
  margin: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.mtb-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mlr-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.m-2 {
  margin: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 20px;
}

.mtb-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mlr-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.m-3 {
  margin: 30px;
}

.mt-3 {
  margin-top: 30px;
}

.mr-3 {
  margin-right: 30px;
}

.mb-3 {
  margin-bottom: 30px;
}

.ml-3 {
  margin-left: 30px;
}

.mtb-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mlr-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.m-4 {
  margin: 40px;
}

.mt-4 {
  margin-top: 40px;
}

.mr-4 {
  margin-right: 40px;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-4 {
  margin-left: 40px;
}

.mtb-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mlr-4 {
  margin-right: 40px;
  margin-left: 40px;
}

.m-5 {
  margin: 50px;
}

.mt-5 {
  margin-top: 50px;
}

.mr-5 {
  margin-right: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-5 {
  margin-left: 50px;
}

.mtb-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mlr-5 {
  margin-right: 50px;
  margin-left: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  padding: 0.7rem 2rem;
  border-radius: 4px;
}

body {
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e8ee;
}

.wrapper {
  background: linear-gradient(to right bottom, #F5F5F9, #E3E4EA);
  min-height: 97vh;
  min-width: 98vw;
  border-radius: 1vh;
  box-shadow: -10px -10px 16px rgba(255, 255, 255, 0.5), 10px 10px 16px rgba(209, 205, 199, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header {
  margin: 10px 30px;
  padding: 5px;
}

header nav {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header nav .title {
  font-size: 2rem;
}

header nav .header-list {
  display: flex;
  width: 100%;
  justify-content: center;
}

header nav .header-list .header-list-item {
  list-style: none;
}

header nav .header-list .header-list-item .header-link {
  text-decoration: none;
  margin: 0 1rem;
}

main {
  padding: 20px;
}
